# Bibliotecas de Interface e Visualização / Interface and Visualization Libraries
streamlit
plotly-express

# Bibliotecas de Manipulação de Dados / Data Manipulation Libraries
pandas
numpy
openpyxl
